<div id="divWeatherMain"> 
    <BR>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temp_celcius}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.temp_min}}°c / {{WeatherData.temp_max}}°c</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{WeatherData.temp_feels_like}}°c</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
</div>